{% extends "base.html" %}

{% block title %}User Profile{% endblock %}

{% block content %}

  <h3 class="font-weight-lighter">User Profile: {{ user.username }}</h3>
  {% for message in get_flashed_messages() %}
    <h5 class="text-success">{{ message }}</h5>
  {% endfor %}  

  <ul>
      <li>First Name: {{ user.first_name }}</li>
      <li>Last Name: {{ user.last_name }}</li>
      <li>Email: {{ user.email }}</li>
  </ul>

  <h5 class="font-weight-lighter">Feedback</h5>
  <ul>
    {% for feedback in user.feedback %}
      <div class="border border-secondary mb-3 mr-5">
        <h6>{{ feedback.title }}<span><a class="ml-2 badge badge-warning text-white" href="/feedback/{{ feedback.id }}/update">Edit</a></span></h6>
        <p>{{ feedback.content }}</p>    
      </div>
    {% endfor %}      
  </ul>

  <a class="btn btn-primary btn-sm" href="/users/{{ user.username }}/feedback/add">Add Feedback</a>
  <a class="btn btn-outline-primary btn-sm" href="/logout">Logout</a>
  <form action="/users/{{ user.username }}/delete" method="POST">
    <button class="btn btn-danger btn-sm mt-5" type="submit">Delete User</button>
  </form>
  
{% endblock %}  